h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: 1vw 2vw;
    box-sizing: border-box;
    text-align: left;
}
div#header{
    height: 10vh;
    background-color: #46494c;
    padding:10px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #DCDCDD;
}
.container{
    box-sizing: border-box;
    margin: 5%;
    display: inline-block;
}
img{
    border-style: solid;
    border-width: 10px;
    border-color: #C5C3C6;
    box-sizing: border-box;
    width: inherit;
}
.modelName{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}
.price{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
}
button{
    border: none;
    width: 25%;
    height:3rem;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    .container{
        width: 80%;
    }
  }
@media screen and (max-width: 700px) and (min-width:601px) {
    .container{
        width: .45vw;
    }
  }